* {
   font-family: "Liberation", sans-serif;
}

window {
    background-color: rgba(26,17,16,0.75);
    border-radius: 10px;
}

#input {
    margin: 5px;
    border-radius: 0px;
    border: none;
    color: white;

    background-color: rgba(26,17,16,0.75);
}

#inner-box {
    background-color: rgba(26,17,16,0.75);
}

#outer-box {
    margin: 2px;
    padding: 10px;
    background-color: rgba(26,17,16,0.75);
}

#scroll {
    margin: 5px;
}

#text {
    padding: 5px;
    color: white;
}

#entry{
    background-color: rgba(0,0,0,0.8);
}

#entry:selected {
    background-color: #4C566A;
}

#text:selected {
    background: transparent;
}
